In [1]:
s="nitish"
print(s)

nitish

In [3]:
l=list(s)
print(l)
print(type(s))

['n', 'i', 't', 'i', 's', 'h']
<class 'str'>

In [4]:
lst=[1,2,5,3.5,5.9,"nitish","gupta"]
print(lst)

[1, 2, 5, 3.5, 5.9, 'nitish', 'gupta']

In [5]:
#indexing
lst[6]

'gupta'

In [6]:
lst[4]

5.9

In [7]:
lst[-2]

'nitish'

In [8]:
#append
lst.append("jammu")

In [9]:
lst

[1, 2, 5, 3.5, 5.9, 'nitish', 'gupta', 'jammu']

In [16]:
#sort
n=[1,5,9,10,75,55]
n.sort()
print(n)

[1, 5, 9, 10, 55, 75]

In [20]:
#reverse
m=[8,5,7,6,9]
m.reverse()
print(m)

[9, 6, 7, 5, 8]

In [25]:
#insert
d=[1,5,9,15]
print(d)

[1, 5, 9, 15]

In [26]:
d.insert(4,"jk")
print(d)

[1, 5, 9, 15, 'jk']